/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn,  img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
body {
    height:100vh;
    width:100vw;
    position:static;
    overflow:hidden;
    line-height: 1;
    font-family: 'ABeeZee', sans-serif;
    
} 
.foto {
    background-image: url("images/bcn.png");
    background-repeat: no-repeat;
    background-size:cover;
    overflow:hidden;
    height:730px;
    width:1200px;
    object-fit:contain;
    
    

    


}
.container {
    display: flex;
    


}
.top{
    background-color:black;
    height:180px;
    font-size: 1.2rem;
    padding-top: 100px;
    padding-left:40px;
    padding-right:130px;
    color:#71777d;
    word-spacing: 1.3px;
    line-height:25px;
    
    
}
.middle {
    background-color: black;;
    height:200px;
    padding:10px 120px 10px 40px;
    color:#f7f6f0;
    box-shadow:
    inset 0px 11px 8px -10px #a7cbd5,
    inset 0px -11px 8px -10px #a7cbd5;  
    
}

.bottom {
    background-color:black;
    height:220px;
    padding-left:30px;
    padding-top:30px;
    
}
#user_info {
    margin-bottom:30px;
    display:flex;
    flex-direction:column;
    height:15px;
    margin-top:10px;
    
   
}
#signupForm {
    
    font-size:.7em;
    height:130px;
    width:600px;
    
    
}
#formInfo {
    display:flex;
    flex-wrap:wrap;
    column-gap:65px;  
}
h2{
    font-size:20px;
    margin-bottom:10px;
    color:#a7cbd5
}
input {
    width:200px;
    border-radius:.5em;
    padding:5px;
    box-shadow: 4px 4px #a7cbd5;
}

input:invalid {
    border-color:red;
    
}
input:focus {
    border-color:#a7cbd5;
}
#errorMsg {
    color:red;
}
a {
    text-decoration:none;
    color:#a7cbd5;
}
button {
    background-color:black;
    height:40px;
    width:28%;
    font-size:1rem;
    font-weight:600;
    color:#a7cbd5;
    border-radius:.5em;
    margin-bottom:30px;
    border: 2px solid #a7cbd5
}
button:hover {
    background-color: #a7cbd5;
    color:black;

}
p {
    color:#71777d
}
#banner {
    background-color:rgba(0, 0, 0, 0.4);
    display:flex;
    align-items:center;
    justify-content:center;
    margin-top:225px;
    
   
    
}
img[src="images/airplane.png"] {
    height:50px;
    width:50px;
}
h1 {
    color:black;
    font-size:3.5rem;
    text-shadow: 2.5px 2.5px #a7cbd5;
}
#citation {
    display:flex;
    flex-direction:column;
    flex-wrap:wrap;
    align-content:center;
    margin-top:390px;
    font-size:10px;
    
   
}
[href*= "plane"] {
    color:#f7f6f0;
    text-align:center;
    
}
[href*= "unsplash"] {
    color:#f7f6f0;
    
}